@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.news-card .card-body > p {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-card > div {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.news-card .card-body h5,
p,
small {
  color: white;
  text-shadow: 4px 0px 5px rgba(0, 0, 0, 0.6);
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
}

.news-card > div {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

body,
html #root {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  align-self: flex-end;
}
